@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Medium.woff2") format("woff2"),
        url("../fonts/Nunito-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Regular.woff2") format("woff2"),
        url("../fonts/Nunito-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
        url("../fonts/Nunito-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"),
        url("../fonts/Nunito-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #d3c3b6;
    color: #93847a;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

ul {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}
