.order {
    background-color: #fcf8f5;
    box-shadow: 0 10px 20px -10px rgba(130, 108, 100, 0.4);
    width: 60rem;
    margin: 5rem auto;
    padding: 4rem;
    border-radius: 3rem;
}

.order__title {
    text-align: center;
    margin-bottom: 2rem;
}

fieldset {
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    border: 1px solid #93847a;
    border-radius: 1rem;
}

legend {
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
}

label {
    display: block;
    margin-bottom: 1rem;
}

.required {
    margin-bottom: 1rem;
}

.customer input:focus {
    border: 1px solid #74b276;
}

.customer .error {
    border: 1px solid #f26b6f !important;
}

fieldset.error {
    border: 1px solid #f26b6f !important;
}

.errorMessage {
    display: inline-block;
    color: #f26b6f !important;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.required::after {
    content: "*";
    color: #f26b6f;
    padding: 0.2rem;
}

.customer-input {
    width: 100%;
    padding: 2rem;
    background-color: transparent;
    border: 1px solid #93847a;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #93847a;
}

.customer-input::placeholder {
    font-size: 1.6rem;
    color: #93847a;
}

.payment label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    outline: 2px solid #93847a;
    background-color: transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

input[type="radio"]:checked {
    background-color: #93847a;
    border: 2px solid #fff;
}

.gifts label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: 2px solid #93847a;
    background-color: transparent;
    border-radius: 0.5rem;
    width: 18px;
    height: 18px;
}

input[type="checkbox"]:checked {
    background-color: #93847a;
    border: 2px solid #fff;
}

button,
a {
    display: inline-block;
    border: 2px solid #f26b6f;
    color: #f26b6f;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

a:hover,
button:hover {
    background-color: #f26b6f;
    color: #ffffff;
}

button[type="submit"]:disabled {
    cursor: default;
    background-color: #aaaaaa;
    color: #777777;
    border: none;
}

.modal {
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.modal-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #fcf8f5;
    border-radius: 2rem;
    padding: 4rem 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-card h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.order-list {
    list-style: square;
    margin: 2rem 0;
    text-align: left;
    align-self: center;
}

.order-item {
    margin-bottom: 0.5rem;
}

.modal-card button {
    display: inline;
}
